*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
::-webkit-scrollbar {
    display: none;
}
body{
    background-color: #0d0d0d;
    color: white;
}
a{
    color: white;
    text-decoration: none;
}
li{
    list-style: none;
}
.header__img{
    text-align: center;
    width: 100%;
    height: 100vh;
    object-fit: cover;

}

.container{
    width: 1600px;
    max-width: 100%;
    padding: 0 15px;
    margin: auto;
}
.header{
    overflow: hidden;
    position: relative;
}
.mainInfo{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    font-size: 20px;
    font-family: 'quant';
    font-weight: 500;
}
.logo{
    position: absolute;
    left: 30px;
    top: 30px;
    z-index: 99;
}
.menu{
    position: absolute;
    right: 30px;
    top: 30px;
    z-index: 99;
}
.social{
    position: absolute;
    bottom: 30px;
    left: 30px;
    z-index: 99;
}
.en{
    position: absolute;
    bottom: 30px;
    right: 30px;
    z-index: 99;
}
.developer{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: flex-end;
    font-family: 'basement';
    padding-bottom: 200px;
    font-size: 9rem;
}

/*///////////////////////////*/
.main{
    height: 100vh;
}
.works{
    z-index: 99;
    text-align: center;
    font-family: 'basement';
    font-size: 9rem;
    position: relative;

}
.showcase{
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}
.cards{
    position: relative;
    margin-top: 100px;
    width: 600px;
    height: 600px;
    background-color: #fff;
    overflow: hidden;
}
 .cards__img{
     max-width: 100%;
 }
 .block{
    display: block;
 }
 .otto{
    font-family: 'otto';
    color: #ffdf40;
 }
 .showcase__block__name{
    background: rgb(0, 0, 0);
    padding: 10px 20px;
    border-radius: 40px;
    font-family: 'quant-reg';
    color: #ffffff;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 20px;
    margin-left: 50px;
    font-size: 30px;
    z-index: 1000;
 }

.bg-primary{
    background: blue;
}
.bg-green{
    overflow: hidden;
    position: relative;
}
.bg-danger{
    background: orangered;
}
.bg-grey{
    background: grey;
}

.panel{
    width: 100%;
    height: 100vh;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}
.servisec-null{
    width: 100%;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
    overflow-x: hidden;
    overflow-y: scroll;
}
.services{
    position: relative;
    margin-top: 300px;
    height: 100vh;
}
.services__text{
    position: relative;
    font-size: 9rem;
    text-align: center;
    font-family: 'quant-reg';
    text-transform: uppercase;
}
.round_1{
    width: 900px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}
.round_2{
    width: 800px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1000;
}
.menu__services{
    font-family: "basement", 'monsterrat';
    font-size: 3rem;
    color: black;
}
.otto__services{
    color: #000000;
}
.services__header {
    position: absolute;
    font-family: "basement";
    font-size: 6rem;
    color: #ffdf40;
    z-index: 99;
}
.services__main_block{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
    flex-wrap: nowrap;
}
.services__img{
    max-width: 400px;
    width: 100%;
    object-fit: cover;
}
.services__img_1{
    position: absolute;
    bottom: 10%;
    right: 10%;
    width: 400px;
    max-width: 100%;
    z-index: 100;
}
.services__img_2{
    position: absolute;
    top: 10%;
    left: 10%;
    width: 400px;
    max-width: 100%;
    z-index: 100;
}
/*.black__squad{*/
/*    position: absolute;*/
/*    right: 0;*/
/*    width: 30%;*/
/*    max-width: 100%;*/
/*    height: 700px;*/
/*    background: #000;*/
/*}*/
.line-design{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99999;
}
.line-design_line{
    width: 0;
    height: 1px;
    background: #000;
    margin-bottom: 100px;
}

.comerse{
    display: flex;
    justify-content:space-around;
    width: 100%;
}
.comerse__imfo__description{
    position: relative;
    max-width: 450px;
    width: 100%;
    font-size: 2rem;
    font-family: "quant";
    font-weight: 400;
    line-height: 65px;
    word-spacing: 10px;
    mix-blend-mode: difference;
    z-index: 99;
}
.comerse__view{
    max-width: 50vw;

    position: relative;
}
.comerse__view__product{
    position: absolute;
    top: -50px;
    right: -50px;
    width: 300px;
    max-width: 100%;
}
.comerse__info{
    position: relative;
    width: 50vw;
}
.comerse__info__product{
    position: absolute;
    bottom: 0;
    left: 150px;
    width: 500px;
    z-index: 99;
}
.comerse_yellow_quad{
    position: absolute;
    bottom: -100px;
    left: -100px;
    width: 900px;
}
.comerse__info__header{
    position: absolute;
    display: flex;
    top: 50%;
    right: -20%;
    bottom: 0;
    font-size: 6rem;
    font-weight: 500;
    color: #ffffff;
    z-index: 100;
    font-family: 'basement', serif;
    mix-blend-mode: difference;
}
.comerse__info__content{
    font-size: 2rem;
    font-family: "quant";
    font-weight: 400;
}
.hobbies{

}

.zagolovok{
    text-align: center;
    font-family: "quant-reg",sans-serif;
    text-transform: uppercase;
    color: #fff;
    font-size: 9rem;
    position: relative;
}
.books{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.books__img{
    max-width: 600px;
    width: 100%;
    height: auto;
}
.hobbies__book_descr{
    position: absolute;
    text-align: center;
    bottom: 0;
    right: 0;
    font-family: 'quant-reg', sans-serif;
    font-size: 10rem;
    mix-blend-mode:difference;
}